.git
.github
.cursor
.junie
.idea
.vscode
.zed
.fleet
.nova
.phpactor.json
.phpunit.cache
.phpunit.result.cache
.DS_Store

node_modules
vendor
npm-debug.log
yarn-error.log
auth.json

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*.php

public/build
public/hot
public/storage
bootstrap/ssr

database/*.sqlite
database/*.sqlite-journal

.env
.env.backup
.env.production
.env.*.local

tests
phpunit.xml
phpstan.neon
pint.json
eslint.config.js
.prettierrc
.prettierignore
.npmrc
AGENTS.md
boost.json
compose.yaml
docker-compose.override.yml

README.md
**/*.md
!public/**/*.md
